.title{
  padding: 20px 0px;
  font-size: 1.5em;
  font-weight: bold;
}
.controls_container{
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
}
.select{
  height: 30px;
  width: 150px;
  color: #0791e6;
  font-weight: bold;
  border-radius: 5px;
}
.option{
  padding: 10px 0px;
  font-size: 1.1em;
}
.form{
  width: 100%;
  max-width: 350px;
  display: flex;

}
.search{
  display: block;
  height: 35px;
  width: 100%;
  border-radius: 5px 0px 0px 5px;
  border: 1px solid #cdcdcd;
  padding: 0px 10px;
  outline: none;
}
.icon_serach_container{
  display: flex;
  height: 35px;
  width: 35px;
  box-sizing: border-box;
  padding: 10px;
  background: #0791e6;
  border-radius: 0px 5px 5px 0px;
}
@media screen and (max-width:600px) {
  .title{
    text-align: center;
  }
  .controls_container{
    flex-direction: column;
    align-items: center;
  }
  .select{
    margin-bottom: 20px;
  }
}
