.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}
.content{
  background: #fff;
  padding: 10px;
  border-radius: 5px;
}
.item{
  color: gray;
  font-size: 1.05em;
  font-weight: bold;
  padding: 5px;
  margin: 0px 10px;
  border-radius: 5px;
  text-decoration: none;
}
.item:hover{
  background-color: #058ecd;
  color: #fff;
}
.item_selected{
  background-color: #058ecd;
  color: #fff;
}
.content{
  display: flex;
  align-items: center;
}
.pages_content{
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}
@media screen and (max-width:520px) {
  .item{
    margin: 5px;
    font-size: 1em;
  }
}
@media screen and (max-width:430px) {
  .item{
    margin: 5px;
    font-size: .85em;
  }
}
@media screen and (max-width:390px) {
  .name_nav{
    display: none;
  }
  .item{
    margin: 5px;
    font-size: 1em;
  }
  .nav_links{
    overflow: hidden;
    min-width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
