.content{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: #cdcdcd;
}
.items{
  display: flex;
  align-items: center;
  margin-right: 15px;
  color: inherit;
  text-decoration: none;
  margin-bottom: 10px;
}
.avatar{
  width: 25px;
  border-radius: 50%;
  margin-right: 10px;
}
.icon{
  width: 20px;
  margin-right: 5px;
}
.bold{
  font-weight: bold;
}
@media screen and (max-width:360px) {
  .comments{
    display: none!important;
  }
}
