.header{}
.fixed{
  background: #213944;
  position: fixed;
  width: 100%;
  z-index: 10;
}
.body{
  height: 52px;
  padding: 10px;
  box-sizing: border-box;
}
.shadow{
  height: 52px;
}
.logo{
  width: 100px;
  display: block;
}
